<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Zhusee (ZZHC Studio)</string>
	<key>Builder Version</key>
	<string>6534.42</string>
	<key>CFBundleDisplayName</key>
	<string>Shortly</string>
	<key>CFBundleIdentifier</key>
	<string>org.zzhc.extensions.shortly</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0 RC</string>
	<key>CFBundleVersion</key>
	<string>1.9.5</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>menuQuickOption</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Command</key>
						<string>menuOption_selectGoogle</string>
						<key>Identifier</key>
						<string>menuItemGoogle</string>
						<key>Title</key>
						<string>goo.gl</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>menuOption_selectBitly</string>
						<key>Identifier</key>
						<string>menuItemBitly</string>
						<key>Title</key>
						<string>bit.ly</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>menuOption_selectTinyURL</string>
						<key>Identifier</key>
						<string>menuItemTinyurl</string>
						<key>Title</key>
						<string>TinyURL</string>
					</dict>
					<dict>
						<key>Command</key>
						<string>menuOption_selectEndpoint</string>
						<key>Identifier</key>
						<string>menuItemEndpoint</string>
						<key>Title</key>
						<string>Custom Endpoint</string>
					</dict>
					<dict>
						<key>Separator</key>
						<true/>
					</dict>
					<dict>
						<key>Command</key>
						<string>menuOption_ignoreNative</string>
						<key>Identifier</key>
						<string>menuItemIgnoreNative</string>
						<key>Title</key>
						<string>Ignore Native</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>shortenURL</string>
				<key>Identifier</key>
				<string>btnShorten</string>
				<key>Image</key>
				<string>link23.png</string>
				<key>Label</key>
				<string>Shorten</string>
				<key>Menu</key>
				<string>menuQuickOption</string>
				<key>Palette Label</key>
				<string>Shorten</string>
				<key>Tool Tip</key>
				<string>Get shortened address of the current page</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>getLinkInsidePage.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Shortly is a handy URL shortener with support to native shortlinks and custom shorten service</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://zzhc.org/shortly/beta/update.plist</string>
	<key>Website</key>
	<string>http://zzhc.org/shortly/beta/</string>
</dict>
</plist>
