<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Zhusee (ZZHC Studio)</string>
	<key>Builder Version</key>
	<string>6534.42</string>
	<key>CFBundleDisplayName</key>
	<string>Shortly</string>
	<key>CFBundleIdentifier</key>
	<string>org.zzhc.extensions.shortly</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0α2</string>
	<key>CFBundleVersion</key>
	<string>1.3.0</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>shortenURL</string>
				<key>Identifier</key>
				<string>btnShorten</string>
				<key>Image</key>
				<string>link23.png</string>
				<key>Label</key>
				<string>Shorten</string>
				<key>Palette Label</key>
				<string>Shorten</string>
				<key>Tool Tip</key>
				<string>Get shortened address of the current page</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>getLinkInsidePage.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Shortly is a handy URL shortener with support to native shorteners from YouTube and Flickr.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://zzhc.org/shortly/update.plist</string>
	<key>Website</key>
	<string>http://zzhc.org/shortly/</string>
</dict>
</plist>
