<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>goo.gl</string>
		<key>Key</key>
		<string>shortenService</string>
		<key>Title</key>
		<string>Preferred Service</string>
		<key>Titles</key>
		<array>
			<string>goo.gl</string>
			<string>bit.ly</string>
			<string>TinyURL</string>
      <string>Custom endpoint</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>goo.gl</string>
			<string>bit.ly</string>
			<string>tinyurl</string>
      <string>endpoint</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>toolbarMode</string>
		<key>Title</key>
		<string>Use Toolbar mode to display message</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>ignoreNative</string>
		<key>Title</key>
		<string>Ignore native shortlinks (like youtu.be)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>googleAuth</string>
		<key>Title</key>
		<string>Shorten goo.gl links with my Google account</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Shorten bit.ly links with my own account</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bitlyUsername</string>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Username</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>bitlyAPIKey</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>API Key</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
  <dict>
		<key>Title</key>
		<string>Use custom shortener endpoint</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>customEndpoint</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Endpoint API</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>clearOAuth</string>
		<key>Title</key>
		<string>Reset stored OAuth login info</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
