#-shortly-toolbar {
  width: 98% !important;
  background: rgba(0,0,0,.8) !important;
  font: 15px/1.2 Helvetica, sans-serif !important;
  text-align: left !important;
  padding: 2em 0 1em !important;
  position: fixed !important;
  top: -6em !important;
  left: 1% !important;
  z-index: 100000 !important;
  overflow: auto !important;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.75) !important;
  -webkit-border-radius: 1em !important;
  -webkit-transition: top 500ms ease-in-out !important;
}

#-shortly-toolbar > * {
  display: inline-block !important;
  color: rgba(255,255,255,.9) !important;
  margin: 0 !important;
}

#-shortly-toolbar a.hideBar {
  text-decoration: none !important;
}

#-shortly-toolbar a.hideBar.glymp {
  width: 1em !important;
  background: #777 !important;
  color: #dedede !important;
  font-size: 85% !important;
  text-align: center !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5) !important;
  position: absolute !important;
  top: 2.5em !important;
  left: 1em !important;
  padding: 0 0.2em 0.2em !important;
  -webkit-border-radius: 0.6em !important;
  -webkit-box-shadow: inset -1px -1px 1px rgba(255,255,255,.2) !important;
}
#-shortly-toolbar a.hideBar.glymp:hover {
  background: #707070 !important;
  color: #ccc !important;
}
#-shortly-toolbar a.hideBar.glymp:active {
  background: #555 !important;
  color: #a9a9a9 !important;
}

#-shortly-toolbar input#ipbShortUrl {
  width: 14em !important;
  height: 1.5em !important;
  background: rgba(255,255,255,.9) !important;
  color: rgba(0,0,0,.8) !important;
  margin: 0 0.5em 0 3.5em !important;
  padding: 0.2em 1em !important;
  -webkit-border-radius: 1.5em !important;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.5) !important;
  border: none !important;
  outline: none !important;
}
#-shortly-toolbar input#ipbShortUrl:focus {
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,.5),
                      0 0 5px 3px rgba(252,243,128,0.9) !important;
}

#-shortly-toolbar p#txtPageTitle {
  max-width: 60% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}
#-shortly-toolbar p#txtPageTitle:hover {
  overflow: visible !important;
}

#-shortly-toolbar a.hideBar.button {
  font-size: 85% !important;
  border: 1px solid !important;
  padding: 0.3em 1em !important;
  float: right !important;
  -webkit-border-radius: 1em !important;
  display: none !important;
}

#-shortly-toolbar.activated {
  top: -1em !important;
}

#-shortly-toolbar.error input {
  display: none !important;
}
#-shortly-toolbar.error p {
  color: crimson !important;
  margin-left: 3em !important;
}
#-shortly-toolbar.error p#txtPageTitle {
  max-width: 95% !important;
}